*
!.gitignore
!/minecraft
!README.md

/minecraft/*		
!/minecraft/config/
!/minecraft/mods/
!/minecraft/scripts/
!/minecraft/resourcepacks/
!/minecraft/config/*
!/minecraft/config/*/*
!/minecraft/config/*/*/*
!/minecraft/config/*/*/*/*
!/minecraft/scripts/*
!/minecraft/mods/*
!/minecraft/resourcepacks/*

/minecraft/config/MapWriterBlockColours.txt
/minecraft/options.txt
/minecraft/config/splash.properties