# Configuration file

light_control {
    # Change the amount of light a specific block outputs.
    # Changes should be in the format: <block id>-<light level>
    # Where the block id is the string id of the block, and the
    # light level is an integer from 0 to 15. For example:
    # minecraft:torch-5 will lower the light level of torches to 5.
    S:light_control <
		props:blockProps-7
		Thaumcraft:blockCandle-7
		Minecraft:redstone_torch-7
     >
}


max_light {
    # The maximum light any block will output.
    # You can still have brighter blocks by adding them
    # manually in the light_control section.
    # Integer between 0-15, Default: 15
    I:max_light=15
}


